/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

    .custom-event .fc-content {
        background-color: lightblue !important; /* Set the event background color */
        border-color: lightblue !important; /* Set the event border color */
        color: #000 !important; /* Set the event text color */
        display: flex; /* Use flexbox to align the content */
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
    }

	.form-control-custom {
		line-height: 1.5; /* Adjust the line height for larger spacing */
		padding: 12px 16px 100px; /* Adjust the padding for larger spacing */
	  }