# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

node_modules/
venv/
.vscode/
.databases/

.vs
.VSCodeCounter*/

history.sqlite

paxis/__pychace__
paxis/contactus/__pychace__
paxis/helpers/__pychace__
paxis/options/__pychace__
paxis/regnum/__pychace__


companies/__pychace__
cwapi/__pychace__
__pycache__

flask_profiler.sql

.env
.coverage
htmlcov/
app.log
*.pyc
*.pickle
Cython/Compiler/*.c
Cython/Plex/*.c
Cython/Runtime/refnanny.c
Cython/Tempita/*.c
Cython/*.c
Cython/*.html
Cython/*/*.html


.DS_Store
Icon

application/documents