{% extends 'layout.html' %} {% block body %}
<div style="background-image: url('https://cdn.dribbble.com/users/1285451/screenshots/6483584/dribbble_space.jpg');">
    <section class="height-100">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <i class="icon-compass display-4 text-white"></i>
                    <h1 class="h2 text-white">Uhoh, page not found (404)</h1>
                    <span class="text-white">The page you requested couldn't be found. <a href="{{ url_for('main.home') }}" class="text-green"><b>Go back home</b></a></span>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
    </section>
</div>
{% endblock %}