{% extends 'layout.html' %} {% block body %}
<div style="background-image: url('https://media4.s-nbcnews.com/j/newscms/2019_32/2963281/08072019-asteroid-2006-qq23-rem_48801167a6124ab9056f62b9f0da802f.fit-2000w.jpg');">
    <div class="alert alert-danger">
        <span class="align-middle" style="height: 2.25em;font-size:x-large;">Please try logging out and log back in! <a class="btn btn-danger float-right" href="{{ url_for('auth.logout') }}">Loggout</a></span>
        </div>
    <section class="height-100">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <i class="icon-compass display-4 text-blue"></i>
                    <h1 class="h2 text-blue">Uhoh, there was an error on our end (500)</h1>
                    <span class="text-blue">The page you requested couldn't be loaded at this time. Try to <a href="{{ url_for('main.index') }}" class="text-pink"><b>Go back home</b></a></span>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
    </section>
</div>
{% endblock %}