{% extends 'layout.html' %}

{% block navbar %}
<img alt="Image" src="/static/img/background.jpg" class="bg-image opacity-30 jarallax-img" />
{% endblock %}
{% block body %}
    
<section class="height-1">
        
            
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="card card-lg text-left justify-content-center">
                        <div class="card-body">
                            <div class="mb-3">
                                <h5 style="color:#9DB0AC;"> <a class="navbar-brand" href="{{ url_for('auth.login') }}">
                                    <img alt="Image" width="150px", height="auto" src="/static/img/logo.svg" />
                                  </a></h5>
                                <h3>Reset password</h3>
                            </div>
                            <div class="row no-gutters justify-content-left">
                                <form class="text-left col-lg-12" action="" method="POST"  id="submit_id">
                                    {{ form.hidden_tag() }} 
                                    <div class="form-group">
                                      {% if form.email.errors %}
                                      {{ form.email(class_="form-control is-invalid", placeholder="Email") }}
                                      <div class="invalid-feedback">
                                          {% for error in form.email.errors %}
                                          <span> {{ error }} </span>
                                          {% endfor %}
                                      </div>
                                      {% else %}
                                      {{ form.email(class_="form-control", placeholder="Email") }}
                                      {% endif %}
                                    </div>
                       <div class="text-right mt-3">
                        <a href="{{ url_for('auth.login') }}" class="btn btn-link text-grey"><i class="icon-chevron-left"></i> Back </a>
                        {{ form.submit(class="btn btn-primary") }}
                      </div>
                    </form>
                  </div>
                </div>
          </div>
        </div>
    </section>

    {% block footer %}
    {% endblock %}

     
    {% endblock %}


















